.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        test
        %ul.RightHeader__memberList
          Member:
          %li.RightHeader__member
            Masa
    =link_to '#', class: "RightHeader__editButton" do
      Edit
  .MessageField
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          masa
        .MessageInfo__date
          2019/11/20(Wed) 17:43:01
      .Message
        .Message__content
          おはよう
  .Footer
    %form.Form
      .Form__contents
        %input{type: :text, placeholder: "type a message", class: :Form__inputContent}
        %label{class: "inputImage"}
          = icon('fas', 'image')
          %input{type: "file"}
      %input{type: :submit, value: "SEND", class: :Form__submit } 

      